
{% extends 'layout.html' %}

{% block main %}

<div class="page-header">
    <h3>图片管理 <small>慎删</small></h3>
</div>

<div class="row">

    {% for item in resources %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/public/img/photobook/{{item.albumPath[0]}}">
            <div class="caption">
                <h4>[{{item.category.name}}]{{item.title}}</h4>
                <p>{{item.time|date('Y-m-d')}}</p>
                <p>{{item.desc}}</p>
                <p>
                    <a href="/main/album?id={{item._id.toString()}}" class="btn btn-default" role="button">查看</a>
                    <a href="/admin/album/edit?id={{item._id.toString()}}" class="btn btn-info" role="button">修改</a>
                    <a href="/admin/album/delete?id={{item._id.toString()}}" class="btn btn-danger" role="button">删除</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}