
{% extends 'layout.html' %}

{% block main %}

<div class="page-header">
    <h3>视频管理 <small>慎删</small></h3>
</div>

<div class="row">

    {% for item in resources %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="{{item.contents}}"><img src="/public/img/1.jpg" alt="..."></a>
            <div class="caption">
                <h4>[{{item.category.name}}]{{item.title}}</h4>
                <p>{{item.time|date('Y-m-d')}}</p>
                <p>{{item.desc}}</p>
                <p><a href="#" class="btn btn-primary" role="button">修改</a> <a href="#" class="btn btn-default" role="button">删除</a></p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}