/* 清除原生样式reset */

header,
nav,
section,
aside,
footer {
    display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}


/*-----------------------------通用格式----------------------------------------------*/

body {
    /*padding-top: 50px;*/
    font-size: 12px;
    font-family: "微软雅黑";
}


/*vedio-detial  album-detail 上方描述*/

.page-header {
    margin: 20px 0 10px;
}


/*导航栏nav 样式重写*/

#nav-container .navbar {
    margin-bottom: 0;
}

#nav-container .dropdown-menu {
    right: 0;
    min-width: 100px;
}

#nav-container .dropdown-menu li a {
    text-align: right;
}


/*------------------------------相关推荐  recommend-list---------------------------*/

.recommend-list {
    border: 1px solid #c8c8c8;
}

.recommend-list ul li {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.recommend-list ul li img {
    float: left;
    max-height: 80px;
    max-width: 80px;
    margin: 10px 10px 0 0;
}

.recommend-list ul li div {
    padding: 20px 10px 0;
}

.recommend-list ul li span {
    margin-top: 6px;
}


/*------------------------------子视频  vgroup-list---------------------------*/

.vgroup-list {
    margin-top: 10px;
}

.vgroup-list ul li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 6px;
    width: 136px;
    height: 60px;
    background: #ccc;
    border-radius: 5px;
}


/*-------------------------------------评论----------------------------------------*/

.common {
    width: 690px;
}

.b-head {
    margin: 20px 0;
}

.b-head .b-head-t {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}


/* 提交评论 */

.bb-comment .comment-send {
    position: relative;
    margin: 10px 0;
}


/* 点击回复 跳转 锚点设置偏移量*/

.bb-comment .comment-send:target {
    padding-top: 60px;
}

.bb-comment .comment-send .user-face,
.bb-comment .comment-list .list-item .comment-send .user-face {
    float: left;
    margin: 7px 0 0 5px;
}

.bb-comment .user-face .user-head {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.bb-comment .comment-send .textarea-container {
    position: relative;
    margin-left: 85px;
    margin-right: 80px;
}

.bb-comment .comment-send .textarea-container .ipt-txt {
    display: inline-block;
    /*width: 525px;*/
    width: 100%;
    height: 65px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 5px 10px;
    color: #555;
    background-color: #f4f5f7;
    border-color: #e5e9ef;
    /*font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;*/
    box-sizing: border-box;
}

.bb-comment .comment-send .textarea-container:hover .ipt-txt,
.bb-comment .comment-send .textarea-container .ipt-txt:target {
    background-color: #fff;
    border-color: #00a1d6;
}

.bb-comment .comment-send .textarea-container .comment-submit {
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    border: 1px solid #00a1d6;
    border-radius: 4px;
    width: 70px;
    height: 64px;
    background-color: #00a1d6;
    font-size: 14px;
    color: #fff;
}

.bb-comment .comment-send .textarea-container .comment-submit:hover {
    background-color: #00b5e5;
    border-color: #00b5e5;
}


/* 评论列表 */

.bb-comment .comment-list {
    width: 690px;
    margin: 30px 0;
}

.bb-comment .comment-list .list-item {
    position: relative;
    width: 690px;
}

.bb-comment .comment-list .list-item .user-face {
    float: left;
    margin: 24px 0 0 5px;
    width: 48px;
    height: 48px;
}

.bb-comment .comment-list .list-item .con {
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px 0;
    border-top: 1px solid #e5e9ef;
}

.bb-comment .comment-list .list-item .user .name {
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
    color: #00a1d6;
}

.bb-comment .comment-list .list-item .text {
    width: 605px;
    padding: 2px 0;
    font-size: 14px;
}

.bb-comment .comment-list .list-item span {
    margin-right: 20px;
    color: #99a2aa;
}

.bb-comment .comment-list .list-item .like span,
.bb-comment .comment-list .list-item .hate span {
    margin-right: 0;
}

.bb-comment .comment-list .list-item .info .btn-hover {
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
}

.bb-comment .comment-list .list-item .info .btn-hover:hover {
    background-color: #e5e9ef;
}


/* 叠楼回复 */

.bb-comment .comment-list .con .replybox .list-item {
    width: 605px;
    padding: 10px 0;
}

.bb-comment .comment-list .con .replybox .user-face {
    float: left;
    margin: 5px 0 0;
    width: 24px;
    height: 24px;
}

.bb-comment .comment-list .con .replybox .user-head {
    width: 24px;
    height: 24px;
}

.bb-comment .comment-list .con .replybox .reply-con {
    margin-left: 34px;
}

.bb-comment .comment-list .con .replybox .reply-con .user .text-con {
    margin-left: 15px;
    color: #000;
    font-size: 14px;
}

.bb-comment .comment-list .user,
.bb-comment .comment-list .text {
    width: 605px;
    line-height: 20px;
}

.bb-comment .comment-list .info {
    width: 605px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
}


/*-------------------------------------黑板 上墙-----------------------------------*/

#lovewall {
    margin-top: 30px;
    width: 960px;
}

#lovewall ul li img {
    margin: 10px 10px 0 0;
    width: 50px;
    height: 50px;
}


/* 鼠标滑过，显示悬浮框 */

.loveword_info {
    position: absolute;
    top: 136px;
    left: 288px;
    width: 294px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: none;
}

.loveword_info img {
    float: left;
    width: 80px;
    height: 80px;
    border: 2px solid #dbdbdb;
}

.loveword_info .text {
    float: right;
    width: 180px;
}

.loveword_info h4 {
    font-size: 12px;
    color: #333;
    padding-bottom: 8px;
}

.loveword_info p {
    line-height: 20px;
    color: #999;
}

.loveword_info span {
    position: absolute;
    top: 45px;
    left: -8px;
    width: 8px;
    height: 14px;
    /* IE下不支持小于19px的图片？ */
    overflow: hidden;
    background: url(/public/img/res/adorn.gif) no-repeat 0 -48px;
}


/*-------------------------------------返回顶部-----------------------------------------------*/

#scrollTop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#scrollTop a:hover {
    display: block;
    border-radius: 5px;
    background-color: #0088bb;
    color: #fff;
}


/*-------------------------------------growth.html----固定导航栏---------------------------*/

#growth-content {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#growth-content h1 {
    color: #0088bb;
}

#growth-content .item {
    margin-bottom: 20px;
    border: 1px dotted #0088bb;
}

#growth-content .item h2 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #0088bb;
    margin-bottom: 10px;
}

#growth-content .item img {
    width: 100%;
}

#growth-menu {
    position: fixed;
    top: 100px;
    /*小技巧，先居中；然后根据content的宽度放在右边*/
    left: 50%;
    margin-left: 450px;
}

#growth-menu ul li a {
    display: block;
    margin: 2px 0;
    color: #333;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    background-color: #ccc;
}

#growth-menu ul li a:hover,
#growth-menu ul li a.current {
    color: #fff;
    background-color: #0088bb;
}


/*-------------------------------------正文 配合页脚----------------------------------------*/

html,
body {
    height: 100%;
}

#nav-container {
    min-height: 100%;
}

.container-main {
    overflow: auto;
    padding-bottom: 60px;
}


/*-------------------------------------页脚----------------------------------------*/

footer {
    position: relative;
    margin-top: -60px;
    height: 60px;
    line-height: 60px;
    background: black;
    color: white;
    text-align: center;
    clear: both;
}
