/* 清除原生样式reset */

header,
nav,
section,
aside,
footer {
    display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}


/*-----------------------------通用格式----------------------------------------------*/

body {
    padding-top: 50px;
    font-size: 12px;
    font-family: "微软雅黑";
}

.page-header {
    margin:20px 0 10px;
}

/*导航栏nav 样式重写*/

.navFocus {
    color: #fff;
}

.navbar-brand img {
    width: 60px;
    height:30px;
}

.dropdown-menu li a {
    text-align: right;
}


.list-group-item {
    display: inline-block;
}

/*-------------------------------------评论----------------------------------------*/

.common {
    width: 690px;
}

.b-head {
    margin: 20px 0;
}
.b-head .b-head-t{
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.bb-comment {
}

/* 提交评论 */
.bb-comment .comment-send{
    position: relative;
    width: 690px;
    margin-bottom: 30px;
}
.bb-comment .comment-send .user-face{
    float: left;
    margin: 7px 0 0 5px;
}
.bb-comment .user-face .user-head{
    width:48px;
    height:48px;
    border-radius:50%;
}
.bb-comment .comment-send .textarea-container{

    position: relative;
    margin-left: 85px;
    margin-right: 80px;
}
.bb-comment .comment-send .textarea-container .ipt-txt{
    display: inline-block;
    /*width: 525px;*/
    width: 100%;
    height:65px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 5px 10px;
    color: #555;
    background-color: #f4f5f7;
    border-color: #e5e9ef;
    /*font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;*/
    box-sizing: border-box;
}

.bb-comment .comment-send .textarea-container:hover .ipt-txt {
    background-color: #fff;
    border-color: #00a1d6;
}

.bb-comment .comment-send .textarea-container .comment-submit{

    position: absolute;

    right: -80px;
    top:0;

    padding: 4px 15px;
    border: 1px solid #00a1d6;
    border-radius: 4px;
    width:70px;
    height:64px;
    background-color: #00a1d6;

    font-size: 14px;
    color: #fff;
}
.bb-comment .comment-send .textarea-container .comment-submit:hover {
    background-color: #00b5e5;
    border-color: #00b5e5;
}

/* 评论列表 */
.bb-comment .comment-list{
    width:690px;
}
.bb-comment .comment-list .list-item{
    position: relative;
    width: 690px;
    /*height: 126px;*/
}
.bb-comment .comment-list .list-item .user-face{
    float: left;
    margin: 24px 0 0 5px;
    /*position: relative;*/
    width:48px;
    height:48px;
}

.bb-comment .comment-list .list-item .con{
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px 0;
    border-top: 1px solid #e5e9ef;

    /*width: 605px;*/
    /*height:112px;*/
}

.bb-comment .comment-list .list-item .user .name{
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
    color: #00a1d6;
}
.bb-comment .comment-list .list-item .text{
    width: 605px;
    padding: 2px 0;
    font-size: 14px;
}

.bb-comment .comment-list .list-item  span{
    margin-right: 20px;
    color: #99a2aa;
}
.bb-comment .comment-list .list-item .like span,
.bb-comment .comment-list .list-item .hate span{
    margin-right: 0;
}

.bb-comment .comment-list .list-item .info .btn-hover {
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
}
.bb-comment .comment-list .list-item .info .btn-hover:hover {
    background-color: #e5e9ef;
}

/* 叠楼回复 */
.bb-comment .comment-list .con .replybox .list-item{
    width:605px;
    padding: 10px 0;
}
.bb-comment .comment-list .con .replybox .user-face{
    float: left;
    margin: 5px 0 0;
    width:24px;
    height:24px;
}
.bb-comment .comment-list .con .replybox .user-head{
    width: 24px;
    height:24px;
}
.bb-comment .comment-list .con .replybox .reply-con{

    margin-left: 34px;
}

.bb-comment .comment-list .con .replybox .reply-con .user .text-con{
    margin-left: 15px;
    color: #000;
    font-size: 14px;
}


.bb-comment .comment-list .user, .bb-comment .comment-list .text {
    width: 605px;
    line-height: 20px;
}
.bb-comment .comment-list .info {
    width: 605px;
    height:26px;
    font-size: 12px;
    line-height: 26px;
}







/*-------------------------------------页脚----------------------------------------*/
footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    text-align: center;
}
