
{% extends 'layout.html' %}

{% block content %}

<div class="container container-main">

    <div class="page-header">
        <h3>{{curView.title}} <small>{{curView.time|date('Y-m-d')}}</small></h3>
        <p>
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>{{curView.PV}}
            <span class="glyphicon glyphicon-heart"></span>{{curView.supportCount}}
        </p>
        <p>{{curView.summary}}</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper" style="transform: translate3d(-2752px, 0px, 0px); transition-duration: 0ms;">
                    {% for path in curView.albumPath %}
                    <div class="swiper-slide" style="background: black; width: 1366px; text-align: center;">
                        <img src="/public/img/photobook/{{path}}" alt="img">
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>
        </div>
    </div>


    <!--<div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper" style="transform: translate3d(-200px, 0px, 0px); transition-duration: 0ms;">
            {% for path in curView.albumPath %}
            <div class="swiper-slide" style="text-align: center; margin: 10px;">
                <img src="/public/img/photobook/{{path}}" style="height: 80px">
            </div>
            {% endfor %}
        </div>
    </div>-->

    <!--留言-->

    {% include 'comments.html' %}

</div>

<script>
    var galleryTop = new Swiper('.gallery-top', {

        // 循环
        loop: true,
        // 翻页按钮
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
        // 分页器
        pagination : '.swiper-pagination',
        paginationType : 'bullets',
        paginationClickable : true,
    })

//    var galleryThumbs = new Swiper('.gallery-thumbs', {
//        centeredSlides: true,
//        slidesPreView: 'auto',
//        slideToClickedSlide: true,
//    })
//    galleryTop.params.control = galleryThumbs;
//    galleryThumbs.params.control = galleryTop;
</script>

{% endblock %}