
{% extends 'layout.html' %}

{% block content %}

<div class="container">

    <div class="page-header">
        <h3>{{album.title}} <small>{{album.time|date('Y-m-d')}}</small></h3>
        <p>
            <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>{{album.playCount}}
            <span class="glyphicon glyphicon-thumbs-up"></span>{{album.supportCount}}
        </p>
        <p>{{album.summary}}</p>
    </div>

    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper" style="transform: translate3d(-2752px, 0px, 0px); transition-duration: 0ms;">
            {% for path in album.albumPath %}
            <div class="swiper-slide" style="background: black; width: 1366px; text-align: center;">
                <img src="/public/img/photobook/{{path}}" alt="img">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>

    <!--<div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper" style="transform: translate3d(-200px, 0px, 0px); transition-duration: 0ms;">
            {% for path in album.albumPath %}
            <div class="swiper-slide" style="text-align: center; margin: 10px;">
                <img src="/public/img/photobook/{{path}}" style="height: 80px">
            </div>
            {% endfor %}
        </div>
    </div>-->

</div>

<script>
    var galleryTop = new Swiper('.gallery-top', {

        // 循环
        loop: true,
        // 翻页按钮
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
        // 分页器
        pagination : '.swiper-pagination',
        paginationType : 'bullets',
        paginationClickable : true,
    })

//    var galleryThumbs = new Swiper('.gallery-thumbs', {
//        centeredSlides: true,
//        slidesPreView: 'auto',
//        slideToClickedSlide: true,
//    })
//    galleryTop.params.control = galleryThumbs;
//    galleryThumbs.params.control = galleryTop;
</script>

{% endblock %}