
<div class="common">
    <div class="b-head">
        <span class="b-head-t result">0</span>
        <span class="b-head-t">评论</span>
    </div>
    <div id="bbComment" class="comm">

        <div class="bb-comment clearfix">

            <!--发表评论-->
            <div class="comment-send" id="comment-send">
                <div class="user-face">
                    <img class="user-head" src="/public/img/res/cat01.png" alt="usesr">
                </div>
                <div class="textarea-container">
                    <textarea class="ipt-txt" id="mainReply" name="" cols="80" rows="5" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
                    <input type="hidden" id="resourceID" value="{{curView._id.toString()}}">
                    {% if userInfo._id %}
                    <button class="comment-submit" type="submit" id="commentBtn">发表评论</button>
                    {% else %}
                    <a data-toggle="modal" data-target="#login" class="pull-right" style="cursor: pointer">请先登录</a>
                    {% endif %}
                </div>
            </div>

            <!--评论列表在 comment-list 下显示-->
            <div class="comment-list"></div>

            <!--评论列表模板-->
            <script id="template-list" type="text/html">

                <div class="list-item reply-wrap">
                    <div class="user-face">
                        <img class="user-head" src="/public/img/res/cat01.png" alt="user">
                    </div>
                    <div class="con">
                        <div class="user">
                            <span class="name">@d.from.username@</span>
                        </div>
                        <p class="text">@d.content@</p>
                        <div class="info">
                            <span class="floor">#@d.floor@</span>
                            <span class="time">@d.time@</span>
                            <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i><span>(@d.likeCount@)</span></span>
                            <span class="reply btn-hover" data-cid="@d._id@" data-tid="@d.from._id@">回复</span>
                        </div>
                        <div class="replybox">
                            @# if(d.reply.length > 0) { @
                            @# for(var i = 0, len = d.reply.length; i < len; i++){ @
                            <div class="list-item reply-wrap">
                                <div class="user-face">
                                    <img class="user-head" src="/public/img/res/cat02.png" alt="user">
                                </div>
                                <div class="reply-con">
                                    <div class="user">
                                        <span class="name">@d.reply[i].from.username@</span>
                                        回复
                                        <span class="name">@d.reply[i].to.username@</span>
                                    </div>
                                    <p class="text">@d.reply[i].content@</p>
                                    <div class="info">
                                        <span class="time">@d.reply[i].time@</span>
                                        <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i><span>(@d.reply[i].likeCount@)</span></span>
                                        <span class="reply btn-hover" data-cid="@d._id@" data-tid="@d.reply[i].from._id@">回复</span>
                                    </div>
                                </div>
                            </div>
                            @# } @
                            @# } @
                        </div>
                    </div>
                </div>
            </script>

        </div>
    </div>
</div>



<!--单条 模板-->
<!-- <script id="template-list" type="text/html" style="display:none;">
    <div class="list-item reply-wrap">
        <div class="user-face">
            <img class="user-head" src="/public/img/res/cat01.png" alt="user">
        </div>
        <div class="con">
            <div class="user">
                <span class="name">白二爷</span>
            </div>
            <p class="text">怼天怼地就是我</p>
            <div class="info">
                <span class="floor">#3</span>
                <span class="time">2017-02-02</span>
                <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i><span>(100)</span></span>
                <span class="reply btn-hover replyyyyy" data-cid="_id data-tid=from._id">回复</span>
            </div>
            <div class="replybox"></div>
        </div>
    </div>
</script>
-->

<!--有回复的评论-->
<!--<div class="list-item reply-wrap open-reply clearfix">
    <div class="user-face">
        <img class="user-head" src="/public/img/res/cat02.png" alt="user">
    </div>
    <div class="con">
        <div class="user">
            <span class="name">白白</span>
        </div>
        <p class="text">嗨起来</p>
        <div class="info">
            <span class="floor">#3</span>
            <span class="time">2017-06-01</span>
            <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i><span>(20)</span></span>
            <span class="hate"><i class="glyphicon glyphicon-thumbs-down"></i><span>(2)</span></span>
            <span class="reply btn-hover">回复</span>
        </div>
        <div class="replybox">
            <div class="list-item reply-wrap">
                <div class="user-face">
                    <img class="user-head" src="/public/img/res/cat02.png" alt="user">
                </div>
                <div class="reply-con">
                    <div class="user">
                        <span class="name">little白</span>
                        <span class="text-con">回复白白的内容</span>
                    </div>
                    <div class="info">
                        <span class="time">2017-06-01</span>
                        <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i><span>(20)</span></span>
                        <span class="hate"><i class="glyphicon glyphicon-thumbs-down"></i><span>(2)</span></span>
                        <span class="reply btn-hover">回复</span>
                    </div>
                </div>
            </div>
            <div class="list-item reply-wrap">
                <div class="user-face">
                    <img class="user-head" src="/public/img/res/cat03.png" alt="user">
                </div>
                <div class="reply-con">
                    <div class="user">
                        <span class="name">小白</span>
                        <span class="text-con">回复@little白: 回复内容</span>
                    </div>
                    <div class="info">
                        <span class="time">2017-06-01</span>
                        <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i><span>(20)</span></span>
                        <span class="hate"><i class="glyphicon glyphicon-thumbs-down"></i><span>(2)</span></span>
                        <span class="reply btn-hover">回复</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<script src="/public/js/comments.js"></script>
<script src="/public/js/laytpl.js"></script>