
{% extends 'layout.html' %}

{% block content %}

<div id="lovewall-bg"></div>
<div class="container container-main">
    <div id="growth-content">
        <div id="item1" class="item">
            <ul>
                <li><img src="/public/img/growth/2016-report.jpg" alt="2016-report"></li>
            </ul>
        </div>
        <div id="item2" class="item">
            <ul>
                <li><img src="/public/img/growth/201610-1.jpg" alt="201610-1"></li>
                <li><img src="/public/img/growth/201610-02.jpg" alt="201610-2"></li>
            </ul>
        </div>
        <div id="item3" class="item">
            <ul>
                <li><img src="/public/img/growth/201611.jpg" alt="201611"></li>
            </ul>
        </div>
        <div id="item4" class="item">
            <ul>
                <li><img src="/public/img/growth/201612.jpg" alt="201612"></li>
            </ul>
        </div>
        <div id="item5" class="item">
            <ul>
                <li><img src="/public/img/growth/201701.jpg" alt="201701"></li>
            </ul>
        </div>
        <div id="item6" class="item">
            <ul>
                <li><img src="/public/img/growth/201702.jpg" alt="201702"></li>
            </ul>
        </div>
        <div id="item7" class="item">
            <ul>
                <li><img src="/public/img/growth/201703.jpg" alt="201703"></li>
            </ul>
        </div>
        <div id="item8" class="item">
            <ul>
                <li><img src="/public/img/growth/201704.jpg" alt="201704"></li>
            </ul>
        </div>
        <div id="item9" class="item">
            <ul>
                <li><img src="/public/img/growth/201705.jpg" alt="201705"></li>
            </ul>
        </div>

    </div>

    <div id="growth-menu">

        <ul>
            <li><a class="current" href="#item1">2016年总结</a></li>
            <li><a href="#item2">2016年10月</a></li>
            <li><a href="#item3">2016年11月</a></li>
            <li><a href="#item4">2016年12月</a></li>
            <li><a href="#item5">2017年1月</a></li>
            <li><a href="#item6">2017年2月</a></li>
            <li><a href="#item7">2017年3月</a></li>
            <li><a href="#item8">2017年4月</a></li>
            <li><a href="#item9">2017年5月</a></li>
        </ul>
    </div>
</div>



<script src="/public/js/fixednav.js"></script>  


{% endblock %}