
{% extends 'layout.html' %}

{% block content %}

{% if category == '' && search == '' %}
<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/public/img/res/pub01.jpg" alt="欢乐颂"></div>
        <div class="swiper-slide"><img src="/public/img/res/pub02.jpg" alt="姐姐饿了"></div>
        <div class="swiper-slide"><img src="/public/img/res/pub03.jpg" alt="奇葩说"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
</div>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        // 自动播放 3s
        autoplay: 3000,
        // 速度，移动设备  鼠标拖拽
        speed: 500,
        // 循环
        loop: true,
        // 切换效果
        effect : 'fade',
        // 翻页按钮
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
        // 分页器
        pagination : '.swiper-pagination',
        paginationType : 'bullets',
        paginationClickable : true,
    })
</script>
{% endif %}

<!--正文部分 返回的视频和图片资源-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if resources.length>0 %}
            <div class="VivaTimeline">
                <dl>
                    {% for item in resources %}
                        {% if item.resType == 'vedio' %}
                        <dt>{{item.category.name}}</dt>
                        <dd class="pos-left clearfix">
                            <div class="circ"></div>
                            <div class="time">{{item.time|date('Y-m-d')}}</div>
                            <div class="events">
                                <div class="events-header">{{item.title}}</div>
                                <div class="events-body">
                                    <li class="row"><a href="/main/vedio?id={{item._id.toString()}}"><img src="/public/img/poster/{{item.poster}}" class="img-rounded" alt="vedio"></a></li>
                                </div>
                                <div class="events-desc">{{item.summary}}</div>
                                <div class="events-footer"></div>
                            </div>
                        </dd>
                        {% else %}
                        <dt>{{item.category.name}}</dt>
                        <dd class="pos-right clearfix">
                            <div class="circ"></div>
                            <div class="time">{{item.time|date('Y-m-d')}}</div>
                            <div class="events">
                                <div class="events-header">{{item.title}}</div>
                                <div class="events-body" data-toggle="" data-target="#album">
                                    {% for album in item.albumPath %}
                                    <li class="row"><a href="/main/album?id={{item._id.toString()}}"><img class="img-rounded" src="/public/img/photobook/{{album}}" alt="img"></a></li>
                                    {% endfor %}
                                </div>
                                <div class="events-desc">{{item.summary}}</div>
                                <div class="events-footer"></div>
                            </div>
                        </dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<link rel="stylesheet" href="/public/css/timeline.css" type="text/css">
<script type="text/javascript" src="/public/js/timeline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.VivaTimeline').vivaTimeline({
            carousel: true,
            carouselTime: 3000
        });
    });
</script>

{% endblock %}

