
{% extends 'layout.html' %}

{% block content %}

<!--页面弹出框部分  登录、注册页面-->
<div class="wrap">
    <div id="login" class="container">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Login
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>用户名:</label><input type="text" class="form-control username">
                    <label>密码:</label><input type="password" class="form-control password">
                </div>
                <!--<a href="#" class="text-info">忘记密码?</a>-->
                <label class="alert-danger colWarning"></label>
                <input type="button" value="登录" class="btn btn-primary pull-right login">
            </div>
        </div>
    </div>

    <div id="register" class="container">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Register
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>用户名:</label><input type="text" class="form-control username">
                    <!--<div class="alert alert-warning">用户名不能为空！</div>-->
                    <label>密码:</label><input type="password" class="form-control password">
                    <label>确认:</label><input type="password" class="form-control repassword">
                </div>
                <label class="alert-danger colWarning"></label>
                <input type="button" value="注册" class="btn btn-primary pull-right register">
            </div>
        </div>
    </div>
</div>

<!--正文部分 返回的视频和图片资源-->
<div class="container">

    <div class="row">

        {% for item in resources %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="/main/vedio?id={{item._id.toString()}}"><img src="/public/img/1.jpg" alt="..."></a>
                <div class="caption">
                    <h4>[{{item.category.name}}]{{item.title}}</h4>
                    <p>{{item.time|date('Y-m-d')}}</p>
                    <p><a href="/main/vedio?id={{item._id.toString()}}" class="btn btn-primary" role="button">一睹为快</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!--
    <div id="content">

            &lt;!&ndash;宣传栏&ndash;&gt;
			<div id="ad">
				<a href="javascript:;" class="prev"></a>
				<a href="javascript:;" class="next"></a>
				<ul class = "picList">
			    	<li class="active"><a href="#"></a><img src="/public/img/1.jpg" alt="1"></a></li>
			    	<li><a href="#"></a><img src="/public/img/2.jpg"  alt="1"></a></li>
			    	<li><a href="#"></a><img src="/public/img/3.jpg" alt="1"></a></li>
			    	<li><a href="#"></a><img src="/public/img/4.jpg" alt="1"></a></li>
			    	<li><a href="#"></a><img src="/public/img/5.jpg" alt="1"></a></li>
			    </ul>
			    <h3>来一个title</h3>
			    <p>我是图片描述</p>
			    <div class="bg"></div>
			    <ul class="stateList">
			    	<li></li>
			    	<li></li>
			    	<li></li>
			    	<li></li>
			    	<li></li>
			    </ul>
			</div>
    </div>
</body>

</html>
-->
