<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>白二爷的专属空间</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/jquery-3.1.1.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>

    <!-- 		网站标签页图标
    <link href="img/100du.ico" rel="shortcut icon" />
     -->

</head>

<body>

    <!--导航栏，始终显示-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="javascript:;" class="navbar-brand"><img src="/public/img/0.png"></a>
        </div>
        <ul class="nav navbar-nav navbar-left">

            {% if category %}
            <li><a href="/" class="navFocus">首页</a></li>
            {% else %}
            <li><a href="/">首页</a></li>
            {% endif %}


            {% for cate in categories %}
            {% if category == cate.id %}
            <li><a href="/?category = {{cate.id.toString()}}" class="navFocus">{{cate.name}}</a></li>
            {% else %}
            <li><a href="/?category = {{cate.id.toString()}}">{{cate.name}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right" id="rightNav">

            {% if userInfo._id %}
            <li class="nav nav-pills">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{userInfo.username}}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if userInfo.isAdmin %}
                    <li class="admin"><a href="/admin">管理</a></li>
                    {% endif %}
                    <li class="logout"><a href="javascript:;">退出</a></li>
                </ul>
            </li>
            </li>
            {% else %}
            <li class="login"><a href="javascript:;">登录</a></li>
            <li class="register"><a href="javascript:;">注册</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

    {% block content %} {% endblock %}
    <!--<footer>
        友情链接：白小爷微博
    </footer>-->
</body>
</html>