
{% extends 'layout.html' %}

{% block content %}

<div class="container">

    <div class="page-header">
        <h3>{{vedio.title}} <small>{{vedio.time|date('Y-m-d')}}</small></h3>
        <p>{{vedio.summary}}</p>
    </div>

    <div class="row">

        <!--视频-->
        <div class="col-md-8" style="background: seagreen">
            <!--通用代码-->
            <!--<iframe height=500 width=720 src='{{vedio.path}}' frameborder=0 allowFullScreen align="middle" quality="high"></iframe>-->
            <!--html代码-->
            <embed src="{{vedio.flash}}" type="application/x-shockwave-flash" width="720" height="500" allowFullScreen="true" align="middle" quality="high"/>

        </div>

        <!--关联视频-->
        <div class="col-md-4" style="background: seashell; height: 500px">

        </div>
    </div>
</div>


{% endblock %}